{% extends "base.html" %}
{% load static i18n %}
{% block title %}Tipos de actividad{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <a href="{% url 'home' %}" class="btn btn-primary">Volver</a>
        <h2 class="col-md-6 text-center mx-auto">Tipos de actividad</h2>
        <a href="#" class="btn btn-success">Nuevo</a>
    </div>

    <div class="list-group">
        {% for tipo in tipos %}
        <div class="list-group-item">
            <h4 class="list-group-item-heading">{{ tipo.nombre }}</h4>
            <h4 class="list-group-item-heading">{{ tipo.get_categoria_display }}</h4>
            <h4 class="list-group-item-heading">{{ tipo.valorHoras }} créditos por hora</h4>
            <a href="#" class="btn btn-primary">
                Modificar
            </a>
            <a href="#" class="btn btn-danger">
                Eliminar
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}