{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Modificar tipo de actividad{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <a href="{% url 'actividades:lista_tipos' %}" class="btn btn-primary">Volver</a>
        <h1 class="col-md-6 text-center mx-auto">Modificar tipo de actividad</h2>
    </div>
</div>
  <form class="form-horizontal" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn">Guardar</button>
      </div>
    </div>
  </form>
{% endblock %}
