{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Creación de usuario administrador{% endblock %}

{% block content %}
  <h1>Creación de usuario administrador</h1>
  <div class="alert alert-warning">Dé de alta solamente a personas de confianza.</div>
  <form class="form-horizontal" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn btn-primary">Crear usuario</button>
      </div>
    </div>
  </form>
{% endblock %}
