{% extends "base.html" %}
{% load static %}

{% block title %}Página auxiliar{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">
        <p>Esta es una página auxiliar. Si no eres redirigido al menú principal, da clic en el siguiente botón.</p>
        <a class="btn btn-large btn-primary" href="{% url 'home' %}">Ir al menú principal</a>
    </div>
  </div>


</div>
{% endblock content %}

{% block customjs %}
<script>
    var admin = '{{user.is_superuser}}';
    if (admin=='True'){
        window.location = "{% url 'home' %}";
    }
</script>
{% endblock %}

